<div class="row mb-4 ml-4">
  <div class="email-body">
    <strong><%= email.object %></strong><br/>
    <%= email.body %>
  </div>
</div>

<div class="row mb-4 ml-4">
  <button class="btn btn-primary ml-4" name="delete-button">Supprimer</button>
  <button class="btn btn-secondary ml-4" name="unread-button">Marquer comme non lu</button>
</div>
