<div>
  <div class="form">
    <%= form_tag(emails_path, method: :post, class: "form", remote: true) do %>
    <%= submit_tag 'Receive an email', :name => 'create'%>
  <% end %>
</div>

  <div class="row">
    <div class="col-4" id="email-list">
      <% @emails.each do |email|  %>
        <div class="card">
          <%= email.object %>,
        </div>
      <% end %>
    </div>

    <div class="card col-7">
      <%= @emails[0].body %>,
    </div>
  </div>
</div>
